/Exercicios_Aula3/CalculoIMC/nbproject/private/
/Exercicios_Aula3/CalculoIMC/build/
/Exercicios_Aula3/Equacao2Grau/nbproject/private/
/Exercicios_Aula3/Equacao2Grau/build/
/Exercicios_Aula3/ProgramaMedia/nbproject/private/
/Exercicios_Aula3/LinguagemProgracao/nbproject/private/
/Exercicios_Aula3/LinguagemProgracao/build/
/Exercicios_Aula3/VendasVendedor/nbproject/private/
/Exercicios_Aula3/VendasVendedor/build/
